/* En este archivo escriban su CSS */

/* Fonts */
/* Importar aquí la font */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato&display=swap');




/* Aquí les dejamos como ayuda este "reset" en el cual ajustamos algunas propiedades
*  cuyos valores asigna por defecto el navegador.
*/

/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* Para que el scrolleo en la one page sea suave */
    scroll-behavior: smooth;
}
/*Estilo al cuerpo del documento */
body{

font-family: 'Lato', sans-serif;
font-size: 18px; 
line-height: 1.5;
width: auto;
height: auto;
background-color:rgb(241, 222, 211) ;

}


/*Estilo al emcabezado de la pagina*/
header {

background-color: #f0e9e4;
border:none;
box-shadow: 1px 1px 5px #5f5f55;
display: flex;
justify-content: space-between;
align-items: center;
width: 100%;

}

/*Estilo al logo de la pagina */
.img-logo {
    max-width: 250px;
    width: 80%;
    height: 80%;
    border-radius: 20px;
    margin-top: 4px;
    padding: 4px;
}

/* estilo a las section*/
section {

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 20px;
min-height: 100vh;
}

/*Un display a la figure de la imagen */
figure{

    display: block;
}

/*Estilo y tamaño a la imagen personal*/
 .img1 {
border-radius: 100%;
box-shadow: 1px 1px 5px rgb(0, 0, 0);
width: 300px;
height: 300px;
max-width: 100%;
margin-top: 15px;


}

/*Estilo al navegador responsive*/
nav{

    display: flex;
    
}

/* Para quitar los puntos a los items de listas */
ul#menu{
    display: flex;
    padding: 10px 20px;
    list-style: none;
    margin: 2px
}
/* Estilo a los enlace del menu*/
li.menu-nav a{
    padding: 3px;
    display: inline-block;
    text-decoration: none;

}
/*Activacion a los menu al pasar el mouse*/
li.menu-nav:hover, .active{
    
    background-color:rgb(226, 134, 98) ;
    color:rgb(247, 240, 240) ;
    transition: background-color 0.3s;
    border-radius: 2px;
    
   
}

/* Estilo a los titulo H2*/
h2{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align:center;
}
/**/
h1{
    text-align: center;
    margin-bottom: 10px;
}
/*Estilo a el article presentacion*/
.presentacion{

    padding: 10px;
    box-shadow: 1px 3px 5px #5f5f55;
    border-radius: 4px;
    margin-top: 30px;
    align-items: flex-end;
}

/*Estilo y espaciado al boton de curriculo*/
.mi-curriculo{
    background-color: rgb(245, 122, 79);
    box-shadow: 2px 1px 5px #5f5f55;
    color: rgb(247, 240, 240);
    padding: 5px;
    font-size: 20px;
    border-radius: 10px;
    text-decoration: none;
}
/*Cambio de color al boton curriculo*/
.mi-curriculo:hover{
    background-color: rgb(219, 101, 65);
}
/*Estilo a los Articles de contacto*/
.mi-contacto{

    background-color: rgb(231, 157, 123);
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgb(59, 59, 59);
}
/*Espaciado a lo parrafo contacto*/
.p-contacto{

    padding: 10px;
}
/*Tamaño y estilo a las imagenes de los enlace social*/
.imgsocial{
    
width: 80px;
margin-top:4em;
margin-right: 1em;
margin-left: 0.5em;
}
/*Estilo de un espaciado a los enlaces social*/
.social{

    padding: 6px;
}
/* estilo al footer y su tamaño*/
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(187, 71, 25);
    height: 5em;
    
}
/* estilo a los enlace de imagenes en los articles*/
.redeSocial{

    align-items: center;
    justify-content: center;
    display: flex;
    list-style: none;
}
/* ajustar el color del texto del footer*/
.pie-de-pagina{

    color: white;
} 
/* posicion fija en el scroll al boton dark*/
.contenedor-btn{
    
    position: fixed;
}

 /*Estilo al boton de los icono*/
 #modobtn{

    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 27px;
    margin: 15px;
    background: transparent;
    outline: 0;
    border: 0;
    cursor: pointer;
    width: 30px;
    height: 30px;
    }

/*Un display oculto al icono de la luna*/
i#close-night{

   display: none;
}
/* icono del sol y color*/
i#open-day{

   display: flex;
   color: rgb(73, 73, 66);
}

/* activacion del btn modo oscuro*/
body.modo-oscuro i#close-night{

   display: flex;
   color: azure;
}
/*cuando se activa modo dark un display oculto al icono sol*/
body.modo-oscuro i#open-day{

   display: none;
}
/*Estilo en la funcion al titulo*/
body.modo-oscuro h1{

   color: cornsilk;
}

/*estilo en la funcion al article contacto*/
body.modo-oscuro .mi-contacto{

   background-color: transparent;
   box-shadow: 1px 1px 5px #e2e2d7;
}

/*Estilo de funcion transparencia al parrafo del article presentacion */
body.modo-oscuro .parrafo{

   background-color: transparent;
}
/**/
body.modo-oscuro .presentacion{

   box-shadow: 1px 1px 5px #e2e2d7 ;
}
/*estilo de la funcion a las imagenes en fondo blanco*/
body.modo-oscuro .imgsocial{

    background-color: azure;
    border-radius: 3px ;
}
/*Estilo de la Funcion modo oscuro*/
.modo-oscuro{

   background-color:#222;
   color:#f0e9e4;
   background-image: none;
}

/* estilo al icono menu*/
#menu-btn{

    background: transparent;
    outline: 0;
    border: 0;
    font-size: 24px;
    width: 45px;
    height: 45px;
}
/*un estilo de ocultar al icono X */
i#close-btn{

    display: none;
}
/*Ocultar los navegadores en modo mobile*/
nav{

    display: none;
}
/*ocultar el icono menu al activarse el boton*/
body.menu-active i#open-btn{

    display: none;
}
/*visible el icono X al activarse el boton*/
body.menu-active i#close-btn{

    display: flex;
}
/*detalles de activacion del boton menu en el encabezado*/
body.menu-active header{

    height: 40vh;
    flex-wrap:wrap;
    align-items: flex-start;
    transition: height 0.3s;
    background-color: rgb(240, 159, 84,0.7);
}
/*detalles de activacion del boton a los navegadores*/
body.menu-active nav{

    display: block;
    width: 100%;
    height: 50%;
}
/*detalles de activacion del boton en el menu*/
body.menu-active ul#menu{

    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}
/*cambio de color a los enlace cuando se activa el boton menu*/
body.menu-active li.menu-nav a{

    color: #18385d;
}
/*cambio de fondo al hover cuando este activado menu*/
body.menu-active li.menu-nav :hover{

    border-radius: 5px;
    background-color: azure;
}
/*Un display oculto en mobile a las redes sociales en el footer */
h4,.socialfotter{

    display: none;
}
/*Estilo a la section habilidades*/
#MisHabilidades{

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

/*Estilo al Div ajuste de tamaño y color*/
.contenedor{
    width: 46%;
   box-shadow: 2px 2px 5px #767574;
   background-color: #f3b790;
    border-radius: 5px;
    padding: 20px;
}
/*Estilo a los div de las imagenes tamaño y posicionamiento*/
.img-contenedor{

    width: 50%;
    margin-left: 2rem;
    border-radius: 5px;
}
/*Estilo a los parrafo de las imagenes*/
.p-img{

    text-align: center;
    font-size: 15px;
}
/*Estilo al div de habilidades*/
.t-habilidades{

    display: flex;
    align-items: center;
    justify-content: center;
}
/* Estilo de fondo y color al titulo habilidades*/
h3{

    text-align: center;
    background-color: rgb(247, 132, 78);
    box-shadow: 1px 1px 5px #767574;
    padding: 5px;
    border-radius: 10px;
}
/* Aqui comienza el @media query modo Desktop */
@media (min-width: 1024px){

    body{

background-color: rgb(241, 222, 211);
background-image: url(https://assets.bitdegree.org/online-learning-platforms/storage/media/2018/08/junior-web-developer-jobs.jpg);
object-fit:cover;
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
 }

 #MisHabilidades{

    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}


.img-contenedor{

    width: 40%;
    height: 20%;
    margin-left: 5rem;
    border-radius: 5px;
}

.img-contenedor:hover{

    width:45%;
}

.contenedor{
    width: 20%;
   box-shadow: 2px 2px 5px #767574;
   background-color: #f3b790;;
    border-radius: 5px;
    padding: 20px;
}


    header {

        background-color: #f0e9e4;
        width: 100%;
        height: 75px;
        border: none;
        overflow: hidden;
        
  }
#menu{

    justify-content: space-around;
}
  #menu-btn{

    display: none;
  }

  nav{

    display: flex;
  }

figure{

    margin-bottom: 190px;
}


#inicio{
    
    display: flex;
    flex-direction: row;
    padding: 15px;
}

.parrafo{

    font-size: 18px;
    line-height: 1.5;
    padding: 2px 15px 15px;
    background-color: #f3b790;
}

.presentacion{

  
    padding: 3px;
    box-shadow: 1px 3px 5px #5f5f55;
    border-radius: 4px;
    margin-left: 12px;
    margin-top: 30px;
    align-items: flex-end;
}

.mi-contacto{

    width: 500px;
    padding: 30px;
    text-align: center;
    background-color:rgb(247, 132, 78,0.7) ;
}

.redeSocial{

    align-items: center;
    justify-content: center;
    display: flex;
    list-style: none;
}


.mi-curriculo{
    box-shadow: 2px 1px 5px #5f5f55;
    color: rgb(247, 240, 240);
    padding: 5px;
}
.img-logo{

    width: 120px;
    height: auto;
    border-radius: 20px;
    transition: transform 0.3s ease;
}
.animation{

    overflow: hidden;
}

.animation:hover .img-logo{

    transform: rotate(180deg);
}

.img1{

    width: 600px;
    height: 400px;
    border-radius: 50%;
    margin-left: 6px;
    margin-right: 20px;
    transition: trasnform 0.1s ease;
}

figure:hover .img1{

    transform: translateY(40px);
}


.imgsocial{

width: 80px;
transition: transform 0.3s ease;

}

.imgsocial:hover {

    transform: rotate(20deg);
}
h1{
    font-size: 40px;
    text-align: left;
    margin-bottom: 10px;
}


h2,h3{

    font-size: 36px;
}

h4{
    display: block;
    margin-left:30rem;
    font-size: 15px;
    color: #96daf5;
}

.socialfotter{

    display: block;
    color: #9eddf0;
    margin-left: 4rem;
    font-size: 30px;
}

.socialfotter:hover{

    margin-bottom: 10px;
}

}

